body {
    margin: 0;
    padding: 0;
}

/* cabecalho */

.cabecalho {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    background: #15191C;
    height: 10vh;  
}

.nome_pagina{
    padding: 0 2%;
    font-size: 24px;
    font-weight: bold;   
}

.cabecalho-logo {
    width: 60px;
}
